version: '3.8'
services:
  # 服务端
  nest-app:
    build:
      context: ./
      dockerfile: ./Dockerfile
    env_file: .env.production
    depends_on:
      - mysql-container
      - redis-container
      - mongo-container
    ports:
      - 3000:3000
    networks:
      - common-network

  # mysql
  mysql-container:
    image: mysql
    ports:
      - "127.0.0.1:${SQL_PORT}:3306"
    environment:
      MYSQL_DATABASE: ${SQL_DATABASE}
      MYSQL_ROOT_PASSWORD: ${SQL_PASSWORD}
      MYSQL_ROOT_HOST: '%'
    volumes:
      - ./mysql/data:/var/lib/mysql
      - ./mysql/conf/my.cnf:/etc/mysql/conf.d/my.cnf
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "mysql-container"]
      interval: 5s
      timeout: 10s
      retries: 3
    networks:
      - common-network
  
  # mongo
  mongo-container:
    image: mongo:6.0
    ports:
      - "127.0.0.1:${MONGO_PORT}:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - ./mongodb/data:/data/db
      - ./mongodb/conf/mongod.conf:/etc/mongod.conf
    command: ["--config", "/etc/mongod.conf", "--auth"]
    restart: unless-stopped
    networks:
      - common-network

  # redis
  redis-container:
    image: redis:7.0-alpine
    ports:
      - "127.0.0.1:${REDIS_PORT}:6379"
    volumes:
      - ./redis/data:/data
      - ./redis/conf/redis.conf:/usr/local/etc/redis/redis.conf
    command: redis-server --requirepass ${REDIS_PASSWORD}
    restart: unless-stopped
    networks:
      - common-network

networks:
  common-network:
    driver: bridge
    name: z-toolkit_common-network
